.header {
    text-align: center;
    font-size: 45px;
    line-height: 25px;
    letter-spacing: 1px;
    padding-top: 20px;
    background: white;
}


@include media-breakpoint-up(sm) {
    .header { 
        padding-top: 30px;
    }
}

@include media-breakpoint-up(sm) {
    .message { 
        padding-top: 30px;
    }
}
.cont {
display: flex;
justify-content: center;
align-items: center;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 30px;
}

.message {
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    white-space:pre-wrap;
}

h1 { color: black; 
    font-family: "Times New Roman", Times, serif;
    font-size: 130px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0 0 50px; 
    text-align: center; 
    text-shadow: 1px 1px 2px #082b34; 
}

.displayNone {
    display: none;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.spanner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-file {
    padding-top: 20px;
    width: 170px;
    margin-right: 10px;
    margin-left: 10px;
}

.myButton {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    padding-top: 20px;
}


.myButton + label {
	box-shadow: 0px 0px 6px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:15px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:10px 19px;
	text-decoration:none;
    text-shadow:0px 1px 0px #112d73;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myButton:hover + label,
.myButton + label:hover {
	position:relative;
	top:1px;
}

.myButton:active + label {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px; 
    padding-bottom: 50px;
}

.upload-button {
    width:80%;
    font-size: 20px;
}

.image-preview {
    margin-top: 20px;
    border: 10px solid #ddd;
}

.spinner {
    padding-top: 50px;
}

a:visited { text-decoration: none; color:blue; }

.convertButton {
	box-shadow: 0px 0px 6px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:15px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:10px 19px;
	text-decoration:none;
    text-shadow:0px 1px 0px #112d73;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}

.convertButton:hover{
    position:relative;
	top:1px;
}

.convertButton:focus{
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

.lightButton { 
    transform: translateX(75vw);
    padding-right: 100px;
    border: solid #74a1ee 2px; 
    /* margin:0 2px 0 0;  */
    padding:7px 10px; 
    -webkit-user-select: none; -moz-user-select: none; user-select: none; -moz-border-radius: 4px; 
    border-radius: 4px; 
    background: #ebecee; }

    .lightButton:hover:enabled{
        background: #74a1ee; 
    }


/* 
.choose {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.choose + label {
    background-color: white;
    box-shadow: 0px 5px 0px grey;
    width: 200px;
    height:40px;
    font-size: 1em;
    font-weight: 500;
    color: black;
    line-height: 2.6em;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    transition: 150ms;
}

.choose:focus + label,
.choose + label:hover {
    background-color: grey;
    box-shadow: 0px 3px 0px grey;
    cursor:pointer;
}

.choose:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
} */